@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html a {
	text-decoration: none;
}
body {
	width: 100%;
	display: flex;
	flex-direction: column;
}
header {
	width: 100%;
	height: 990px;
	overflow: hidden;
}
.cabeceraHome {
	background-image: url("img/header_home.jpg");
	width: 100%;
	height: 990px;
}

.cabeceraContacto {
	background-image: url("img/img_contacto/header_contacto.jpg");
	width: 100%;
	height: 870px;
}

.cabeceraInfo {
	background-image: url("img/img_informacion/header_info.png");
	width: 100%;
	height: 870px;
}

.cabeceraEventos {
	background-image: url("img/img_eventos/header_eventos.jpg");
	width: 100%;
	height: 870px;
}
header p {
	margin: 0px 0px 50px 40px;
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	font-size: 24px;
	color: #FFF6F6;
}

nav {
	display: flex;
	width: 100%;
	height: 90px;
	background-color: rgba(196, 196, 196, 0.1);
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}
nav img {
	margin: auto 30px;
}
nav ul {
	font-family: 'Montserrat';
	display: flex;
	color: #FFF6F6;
	width: 1400px;
	list-style: none;
	font-size: 1em;
	justify-content:space-between;
	text-decoration-line: none;
}

nav ul li {
	font-family: 'Montserrat';
	display: inline-block;
	font-size: 1em;
	color: #FFF6F6;
	list-style: none;
	width: 70px;
}

nav ul li a:hover {
	text-decoration: underline;
	color: #FCB400;
	font-weight: bold;
	transform: scale(1.2);
}

nav a:active {
	color: #FCB400;	
}

nav a:visited {
	color: #FFF6F6;	
}


h1 { 
	width: 100%;
	margin: 300px 0px 0px 30px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	color: #FCB400;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 { 
	width: 100%;
	margin: 0px 0px 0px 30px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 90px;
	color: #FFF6F6;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bold {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	color: #FFF6F6;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botonera {
	background: #FF6550;
	border-radius: 55px;
	border-color: #FF6550;
	margin: 0px 0px 0px 40px;
	height: 65px;
	width: 270px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: #FFF6F6;
	background-color: rgba(220, 0, 0, 1);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
	background-color: rgba(255, 0, 0, 1);
}

.styled:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.Deportes {
	display: grid;
	grid-template-columns: repeat(4, 240px);
	grid-template-rows: repeat(2, 310px);
	grid-column-gap: 11rem;
	grid-row-gap: 5rem;
	justify-content: center;
	margin: 100px 0 100px 0;
}

.Deportes h3 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700px;
	font-size: 20px;
	margin-bottom:24px;
}

.Deportes p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 11pt;
	line-height: 12.5pt;
	margin-bottom: 10px;
}
.natacion {
	background-image: url("img/box_natacion.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 255px;
	height: 300px;
	padding: 0px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
}

.Voley {
	background-image: url("img/box_volley.png");
	background-repeat: no-repeat;
	width: 255px;
	height: 300px;
	padding: 0px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
}

.Atletismo {
	background-image: url("img/box_atletismo.png");
	background-repeat: no-repeat;
	width: 255px;
	height: 300px;
	padding: 0px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
}

.Futsal {
	background-image: url("img/box_futsal.png");
	background-repeat: no-repeat;
	width: 255px;
	height: 300px;
	padding: 0px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
}

.Handball {
	background-image: url("img/box_handball.png");
	background-repeat: no-repeat;
	width: 255px;
	height: 300px;
	padding: 0px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
}

.Ajedrez {
	background-image: url("img/box_chess.png");
	background-repeat: no-repeat;
	width: 255px;
	height: 305px;
	padding: 0px 15px 10px 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
}

.Basquet {
	background-image: url("img/box_basquet.png");
	background-repeat: no-repeat;
	width: 255px;
	height: 300px;
	padding: 0px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
}

.Funcional {
	background-image: url("img/box_funcional.png");
	background-repeat: no-repeat;
	width: 255px;
	height: 330px;
	padding: 0px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
}

/*--------------HTML CONTACTO---------------*/
.boxFormularioAzul {
	width: 601px;
	height: 800px;
	left: 222px;
	top: 983px;
	background: #4333FF;
	border-radius: 93px 0px 0px 92px;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 60px;
	line-height: 66px;
	display: flex;
	align-content: flex-start;
	text-decoration-color: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.boxFormularioAzul p {
	font-weight: 800;
	font-style: bold;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
}
.boxFormularioRosa {
	width: 861px;
	height: 800px;
	left: 824px;
	top: 983px;
	background: #F6ECEA;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 97px 97px 4px;
	text-decoration-color: #FFFFFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 45px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #4333FF;
}
.boxFormularioRosa p {
	
}
.boxFormulario {
	padding: 5em;
	display: flex;
	
}
/*--------------SECRETARIA--------------*/
.boxflex {
	background-image: url("img/fondo_home_tenis.jpg");
	height: 395px;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin:  50px 0 50px 0;
}
.titulosecretaria {
	width: 100%;
	margin: auto;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	color: #FFF6F6;
}
.boxtexto {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	color: #FFF6F6;
}
.boxoportunidades {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	color: #FFF6F6;
}
.boxsalud {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	color: #FFF6F6;
}
.contenedor {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	margin: auto 0px auto 0px;
	padding: 0 120px 0 120px;
}

/*--------------CARDS EVENTOS------------*/
.cardsFlex {
	width: 100%;
	height: 748px;
	display: flex;
	flex-direction: row;
	padding: 50 120px 0 120px;
}
.cardTorneoajedrez {
	width: 520px;
	height: 494px;
	left: 94px;
	background-image: url("img/card_ajedrez.jpg");
}
/*--------------FOOTER--------------*/
footer { 
	position: inherit;
	height: 140px;
	width: 100%;
	background-color: #FF4930;
	font-size: 14px;
	font-family: 'Montserrat';
	display: flex;
	color: #FFFFFF;
	flex-direction: row;
	justify-content: center;
}
footer img {
	width: 18px;
	display: flex; 
	flex-direction: column;
}

footer li {
	list-style: none;
	padding: 30px 0 0px 250px;
	width: inherit;
}

.iconosRedes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 30px;
	width: 180px;
	height: auto;

}
.iconosInfo{
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	margin-top: 5px;
}

.titulosFooter{
	margin: 0 5px 10px 0px;
}
